<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>搜索</title>
		<link rel="stylesheet" type="text/css" href="css/search.css"/>
		<script src="js/vue.js"></script>
		<script src="js/vue-resource.js"></script>	
	</head>
	<body>
		<div id="box">
			<input type="text" v-model="tit" @keyup="get($event)" @keydown.down="changeDown()" @keydown.up.prevent="changeUp()" class="search"/>
			<button type="submit" @click="search()" class="button"></button>
			<ul>
				<li v-for="(value,index) in myData" :class="{grey:index==now}" @click="open(index)" v-cloak class="item">
					{{value}}
				</li>
			</ul>
			<p v-show="myData.length==0" :class="{active: isTrue}" v-cloak>{{message}}</p>
		</div>
		<script src="js/search.js"></script>
	</body>
</html>
