* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
	background:rgba(8, 36, 72, 0.75);
}
#box{
	margin: 50px auto;
	width: 370px;
}
.search{
	width: 300px;
	height:40px;
	border:5px solid #2865b3;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding-left:10px;
	float: left;
}
.button{
	width: 50px;
	height:50px;
	background-color:#2865b3;
	border:5px solid #2865b3;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.button:before {
    content: "搜索";
    font-family: FontAwesome;
    font-size: 16px;
    color: #F9F0DA;
}
.button:hover{
	cursor: pointer;
}
.item{
	height: 30px;
	color: #666;
    font-size: 14px;
    cursor: default;
    padding-left: 10px;
    box-sizing: border-box;
    text-align: left;
    line-height: 30px;
    background-color: #fff;
}
.item:hover{
	background: #ccc;
}
[v-cloak] {
    display: none;
}
.grey {
    background: #ccc;
}